.header_section {
  padding-inline: 10%;
  padding-block: 10px;
  box-shadow: 0 0 3px var(--light_text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NavBar middle section */

.navbar_page_links a {
  text-decoration: none;
  margin-inline: 7px;
  font-size: 14px;
  color: var(--text);
  position: relative;
  text-transform: uppercase;
}
.navbar_page_links a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--text);
  transition: opacity 0.3s ease-in-out;
}
.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: var(--text);
  color: black;
  border-radius: 10px;
}

/* NavBar right secttion */

.navbar_auth_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar_auth_link .login_btn,
.registration_btn {
  text-decoration: none;
  margin-inline: 7px;
  color: var(--text);
}
.login_btn {
  font-size: 18px;
  font-weight: 700px;
}
.registration_btn {
  background-color: var(--text);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 7px;
}
